body{
	font-family: arial;
	font-size: 12pt;
	margin-left: 525px;
}
#border{
	border-style: solid;            
	border-width: 1px;
	background-color: #BDBDBD;
	margin-right: 657px;
}
#bloco1{
	border-style: solid;
    border-color: #000000;
	font-family: arial;
	font-size: 10pt;
	margin-right: 650px;
	margin-top: -13px;	
}
#border1{
	border-style: solid;            
	border-width: 1px;
	background-color: #BDBDBD;
	margin-right: 657px;
}
#bloco2{
	border-style: solid;
    border-color: #000000;
	font-family: arial;
	font-size: 10pt;
	margin-right: 650px;
	margin-top: -13px;
}
#paragrafo{
	margin-left: 10px;
	margin-top: 5px;
}
#paragrafo1{
	margin-left: 10px;
	margin-top: 9px;
}
#paragrafo2{
	margin-left: 3px;
}
#paragrafo3{
	margin-left: 10px;
}
#paragrafo4{
	margin-left: 10px;
}
#paragrafo5{
	margin-left: 10px;
}
#paragrafo6{
	margin-left: 10px;
}
#paragrafo7{
	margin-left: 10px;
}	
#paragrafo8{
	margin-left: 10px;
}	
#paragrafo9{
	margin-left: 10px;
	margin-bottom: 8px;
}
#paragrafo10{
	margin-left: 10px;
	margin-top: 5px;
}
#paragrafo11{
	margin-left: 10px;
	margin-top: -5px;
}
#paragrafo12{
	margin-left: 10px;
	margin-top: -8px;
}
#paragrafo13{
	margin-left: 10px;
	margin-top: -25px;
}
#paragrafo14{
	margin-left: 1px;
	margin-top: -11px;
}
#paragrafo15{
	margin-left: -2px;
	margin-top: 1px;
}
#paragrafo16{
	margin-left: -2px;
	margin-top: -8px;
}
#paragrafo17{
	margin-left: -2px;
	margin-top: -8px;
}
#paragrafo18{
	margin-left: -2px;
	margin-top: -8px;
}
#paragrafo19{
	margin-left: -2px;
	margin-top: -8px;
}	
#paragrafo20{
	margin-left: -2px;
	margin-top: -8px;
}		
#paragrafo21{
	margin-left: -2px;
	margin-top: -8px;
}
#paragrafo22{
	margin-left: -2px;
	margin-bottom: 8px;
}
input{
	background-color: #CEE3F6;
}

